

.recipeCard {
  margin-top: 1rem;
  margin-bottom: 1rem;
  columns: 2;

}

.recipeCard:hover {
  background-color: lightgray;
  transition-duration: 0.5s;
} 


.rc:hover {
  background-color: lightgray;
  transition-duration: 0.5s;
}

.rs:hover {
  background-color: white;
  transition-duration: 0.5s;
}




